body {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	background-color: #757575;
	margin: 0;
}

.intro {
	background-color: #757575;
	padding: 40px 0px;
	text-align: center;
	height: 100vh;
}

.fixed {
	background: #09af00;
	color: #FFFFFF;
	padding: 20px 0px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 99;
	overflow: hidden;
}

h1 {
	font-size: 6vw;
	padding: 33vh 0;
	line-height: 7.7vw;
	width: 100%;
}

#name {
	margin-left: 14px;
	width: 260px;
}

.hamburger_icon {
	margin: 0;
	padding: 0 20px;
}

.hamburger {
	width: 20px;
	float: right;
	margin-top: -23px;
	position: relative;
}

h2 {
	font-size: 20px;
	width: 100%;
	margin: 0;
}

nav {
	 width: 100%;
	 background-color: #BDBDBD;
	 position: sticky;
	 top: 60px;
	 z-index: 90;
	 overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.items {
	display: block;
	text-align: center;
}

nav.open {
	display: none;
}

main {
	text-align: center;
	background-color: #757575;             /* #388E3C  #C8E6C9 #4CAF50 #9E9E9E #212121 #757575 #BDBDBD*/
}

li.items a {
	text-decoration: none;
	display: block;
	padding: 14px;
	color: #212121;
	border-bottom: 1px solid black;
}

div {
	padding-top: 28px;
}

#about, #portfolio, #skills, #contact-me {
	padding: 30px 0;
	width: 100%;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

.information {
	text-align: justify;
	padding-left: 17px;
	padding-right: 17px;
}

.card img {
	width: 100%;
}

.card {
	background-color: #BDBDBD;
	padding: 10px;
}
h3 {
	color: #212121;
}

.devicon {
	margin: 15px 0;
	width: 100%;
	height: 80px;
}

.footer {
	background: #9E9E9E;
	width: 100%;
	padding: 70px 0px;
}

.icons {
	width: 24%;
	height: 52px;
}

/*
nav {
	display: inline;
}

ul {
	list-style-type: none;
	margin: -52px 0;
	padding: 0;
	width: 437px;
	float: right;
	font-size: 22px;
	overflow: hidden;
}

li.items {
	display: inline;
	margin-right: 10px;
}

li: nth-child(4) {
	margin-right: 0;
}*/